.cobb1{
	padding-top: 50px;
	padding-left: 60px;
	width: 266px;
	height: 266px;
	display: flex; /* Подогнать изображение можно только, когда display: flex, если поставить absolute, width/height - не работает. */
	z-index: 0;
}

.arizona1{
	margin-top: -265px;
	padding-left: 477px;
	width: 266px;
	height: 266px;
	display: flex;
	z-index: 0;
}

.dubai1{
	margin-top: -266px;
	padding-left: 897px;
	width: 266px;
	height: 266px;
	display: flex;
	z-index: 0;
}