/* Основная подложка, серый экран, первый слой. */
body{
	background: #DCDCDC; /* Gainsboro. */
	z-index: 0;
	position: relative;
}

/* Золотой заголовок в самом верху (OUR PROJECTS) */
.zagolovok{
	font-family: calibri;
	font-size: 26px;
	overflow: auto; /* Определяем родительский контейнер для заголовка. */
	width: 50%; /* Фиксируем ширину родительского контейнера для заголовка, высоту можно не трогать, с ней всё ок. */
	/* Паддинги со всех четырёх сторон намертво фиксируют элемент, чтобы он не дрыгался при изменении z-index-ов, при наведении на hover. */
	padding-left: 26%;
	padding-right: 24%;
	padding-top: 0.5%;
	padding-bottom: 44.5%; /* Возможно добавит небольшой скролл по вертикали. */
	text-align: center;
	color: #B8860B; /* DarkGoldenRod */
	z-index: 0; /* z-index не влияет на поведение заголовка, но, по-идее, должен быть 0. */
	position: absolute; /* В нашем случае, позишн роли не играет, можно оставить absolute и не мудрить с flex, или relative. Заголовок будет намертво зажат паддингами. */
	cursor: default; /* Отключает курсор при наведении на заголовок. */
}

/* Подложка 1. */
.sloy1{
	border: 1px solid #C0C0C0; /* Обводка подложки: Silver.*/
	/* border-radius: 6%; */
	margin-top: 50px; /* Отступ сверху. */
	margin-left: 60px; /* Отступ слева. */
	width: 400px;
	height: 550px;
	z-index: 1;
	position: absolute;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); /* Простая тень для слоя карточки. */
}

/* Подложка 2. */
.sloy2{
	border: 1px solid #C0C0C0; /* Обводка подложки: Silver.*/
	/* border-radius: 6%; */
	margin-top: 50px; /* Отступ сверху. */
	margin-left: 477px; /* Отступ слева. */
	width: 403px;
	height: 550px;
	z-index: 1;
	position: absolute;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); /* Простая тень для слоя карточки. */
}

/* Подложка 3. */
.sloy3{
	border: 1px solid #C0C0C0; /* Обводка подложки: Silver.*/
	/* border-radius: 6%; */
	margin-top: 50px; /* Отступ сверху. */
	margin-left: 897px; /* Отступ слева. */
	width: 398px;
	height: 550px;
	z-index: 1;
	position: absolute;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); /* Простая тень для слоя карточки. */
}